<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Settei</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<%- include('/Users/hollyplatt/Documents/GitHub/HellsingSettei/HellsingSettei/views/partials/navbar.ejs') %>

    <body>
        <ul>

            <li>
                <a href="/Setteis/<%=Settei._id%>">
                    <%=Set.title%>
                        <img src="<%=Set.imageURL%>" alt="" class="" </a>
            </li>
            <div class="card" mb-3>
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=Set.imageURL%>">

                </div>

        </ul>
    </body>

</html>